.thumb img {
    filter: none; /* IE6-9 */
    -webkit-filter: grayscale(0);
    border-radius:5px;
    background-color: #fff;
    border: 1px solid #ddd;
    padding:5px;
}
.thumb img:hover {
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(1);
}
.thumb {
    padding:5px;
}
/*Home page pagination*/

.pager .active a {
    background-color: #1b6d85;
    color: #fff;
}

.pager .active a:hover {
    background-color: #2aabd2;
    color: #fff;
}

/*mosaicflow*/
/*.mosaicflow__item {
    padding:3px;
}
.mosaicflow__column {
    float:left;
}
.mosaicflow__item img {
    display:block;
    width:100%;
    height:auto;
    padding: 4px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
}
.mosaicflow__item img:hover {
    opacity: 0.6;
    filter: alpha(opacity=60);
}*/



